main {
    >section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#top {
    flex-direction: column;
    height: 80dvh;
    margin-top: -122.6px;
    padding: 0 400px;
    text-align: center;
    background-image:
        linear-gradient(to top, #121411 0%, #121411b3 70%, #12141100 100%),
        url(../assets/images/about.jpg);

    span {
        color: #f2ca50;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    h1 {
        font-family: 'Playfair Display';
        font-size: 48px;
        font-weight: 700;
        color: #e3e3de;

        strong {
            color: #f2ca50;
        }
    }

    p {
        width: 70%;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 600;
        color: #d0c5af;
        margin-top: 30px;
    }
}

.mid {
    background-color: #121411;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
    gap: 20px;
    padding: 100px 250px;

    section {
        display: flex;
        align-items: center;
        justify-content: start;
        color: #f2ca50;
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 600;
        gap: 10px;

        div {
            border: 0.5px solid #f2ca50;
            width: 40px;
            height: 0;
        }
    }

    div {
        display: flex;
        justify-content: space-between;

        .left {
            width: 35%;
            color: #e3e3de;
            font-family: 'Playfair Display';
            font-size: 32px;
            font-weight: 600;
        }

        .right {
            width: 60%;
            line-height: 30px;
            letter-spacing: 1px;
            color: #d0c5af;
            font-family: 'Montserrat';
            font-size: 15px;
            font-weight: 600;
        }
    }
}

#bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #151614;
    padding: 100px 0;

    span {
        color: #f2ca50;
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    h2 {
        color: #e3e3de;
        font-family: 'Playfair Display';
        font-size: 32px;
        font-weight: 600;
    }

    section {
        border-radius: 500px;
        border: 1px solid #f2ca501a;
        padding: 30px;
        margin-top: 30px;
        animation: border 1s infinite alternate ease-in-out;

        p {
            color: #e3e3de;
            font-family: 'Playfair Display';
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-top: 20px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f2ca50;
            background-color: #f2ca501a;
            font-size: 50px;
            border-radius: 500px;
            width: 245px;
            height: 245px;
            border: 5px solid #151614;
            outline: 2px solid #f2ca5066;
            box-shadow: #f2ca5026 0px 0px 40px 0px;
            transition: 0.6s;
        }

    }

    section:hover {
        div {
            outline-color: #f2c950b3;
            font-size: 55px;
        }
    }

    h3 {
        color: #f2ca50;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 30px 0;
    }

    >p {
        width: 30%;
        line-height: 30px;
        letter-spacing: 1px;
        color: #d0c5af;
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: 600;
    }

    svg {
        width: 25px;
        height: 25px;
        fill: #f2ca5066;
        margin: 20px 0;
    }
}

@keyframes border {
    0% {
        border-color: rgba(242, 202, 80, 0.1);
    }

    33% {
        border-color: rgba(242, 202, 80, 0.121);
    }

    66% {
        border-color: rgba(242, 202, 80, 0.186);
    }

    100% {
        border-color: rgba(242, 202, 80, 0.208);
    }
}