#search-sec {
    position: relative;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 50px;

    #search {
        position: relative;
        width: 65%;
        display: flex;
        justify-content: center;
        margin-top: 50px;

        input {
            height: 60px;
            width: 100%;
            background-color: #1e201d4d;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            border: 1px solid #f2ca5033;
            outline: none;
            font-size: 24px;
            font-family: 'Playfair Display';
            font-weight: 600;
            padding: 16px 48px;
            color: #e3e3de;
            border-radius: 50px;
            transition: 0.5s;
        }

        input::placeholder {
            color: #d0c5af66;
        }

        input::-webkit-search-cancel-button {
            -webkit-appearance: none;
            display: none;
        }

        input:focus {
            border-color: #d4af376d;
        }

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            fill: #f2ca5099;
            width: 24px;
            height: 24px;
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #f2ca50;
            padding: 10px 32px;
            border-radius: 50px;
            border: none;
            letter-spacing: 1.2px;
            font-size: 12px;
            font-weight: 600;
            font-family: 'Montserrat';
            color: #3c2f00;
            right: 12px;
            cursor: pointer;
        }
    }

    span {
        opacity: 0.3;
        color: #f2ca50;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;

        #right {
            height: 1px;
            width: 96px;
            background: linear-gradient(to right, transparent, #f2ca50);
        }

        #left {
            height: 1px;
            width: 96px;
            background: linear-gradient(to left, transparent, #f2ca50);
        }
    }

    #filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;

        p {
            font-family: 'Playfair Display';
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 3.5px;
            color: #f2ca50;
            text-transform: uppercase;
        }

        div {
            display: flex;
            gap: 24px;

            button {
                border: 1px solid #d4af3726;
                background-color: #ffffff00;
                border-radius: 50px;
                color: #e5e2e1;
                font-family: 'Montserrat';
                font-size: 12px;
                font-weight: 600;
                padding: 16px 32px;
                cursor: pointer;
                transition: 0.5s;
            }

            button:hover {
                color: #ffe299;
                background-color: #d4af370d;
                box-shadow: #d4af3725 0 0 20px 0;
            }

        }

        #museum {
            button.active {
                background-color: #f2ca50;
                color: #3c2f00;
                box-shadow: 0 0 20px #d4af374d;
            }
        }

        #type {
            button {
                letter-spacing: 1.2px;
                padding: 8px 24px;
            }

            button.active {
                border-color: #f2ca50;
                color: #f2ca50;
                background-color: #f2ca5033;
                box-shadow: 0 0 15px #d4af3733;
            }
        }
    }
}

#cards-sec {
    width: 80%;
    margin: 0 auto;

    #top {
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-bottom: 1px solid #4d46354d;
        padding-bottom: 16px;
        margin-bottom: 60px;

        h2 {
            font-size: 40px;
            font-family: 'Playfair Display';
            font-weight: 700;
            color: #e5e2e1;
        }

        #cards-show {
            width: 140px;
            height: fit-content;
            display: flex;
            justify-content: space-between;

            span {
                display: flex;
                align-items: center;
                font-family: 'Montserrat';
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1.2px;
                color: #d0c5af;
                gap: 5px;
                cursor: pointer;
                transition: 0.5s;

                svg {
                    height: 24px;
                    width: 24px;
                    fill: #d0c5af;
                    transition: 0.5s;
                }
            }

            span.active {
                color: #f2ca50;

                svg {
                    fill: #f2ca50;
                }
            }
        }
    }
}

#scroll-wrapper {
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: 0.6s;

    #artifacts-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 1210px;
        gap: 30px;
        width: max-content;
        margin: 0 auto;
        transition: 0.6s;

        >p {
            margin: 0 auto;
            color: #d0c5afa4;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            font-size: 40px;
            font-family: 'Playfair Display';
            font-weight: 700;
            display: none;
            padding: 100px;
        }
    }
}

.card {
    scroll-snap-align: start;
    position: relative;
    display: flex;
    width: 385.5px;
    flex-direction: column;
    background-color: #181717;
    border-radius: 15px;
    border: 1px solid #d4af3726;
    overflow: hidden;
    transition: border 0.6s, box-shadow 0.6s;

    img {
        width: 100%;
        height: 383px;
        filter: brightness(70%);
        object-fit: cover;
    }

    .artifact-material {
        position: absolute;
        top: 0;
        background-color: #ffe9b033;
        border-radius: 50px;
        border: 1px solid #ffe9b04d;
        color: #ffe9b0;
        font-family: 'Montserrat';
        font-size: 10px;
        text-transform: uppercase;
        padding: 4px 12px;
        margin: 15px 15px;
        letter-spacing: 1.2px;
        user-select: none;
    }

    .text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;

        h2 {
            font-size: 24px;
            font-family: 'Playfair Display';
            font-weight: 600;
            color: #e3e3de;
            margin-bottom: 16px;
        }

        p {
            font-family: 'Montserrat';
            font-size: 10px;
            color: #d0c5af;
            font-weight: 700;
            letter-spacing: 1.2px;

            svg {
                display: none;
            }
        }

        .period {
            display: none;
        }

        .card-footer {
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
            border-top: 1px solid #4d46354d;
            padding-top: 16px;

            svg {
                fill: #ffe9b366;
                width: 24px;
                height: 24px;
                cursor: pointer;
                transition: 0.5s;
            }

            svg:hover {
                fill: #ffe9b0;
            }

            svg.heart.active path {
                d: path('m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z');
            }

            svg.archive.active path {
                d: path("M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Z");
            }

            a {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 12px;
                color: #ffe9b0;
                text-decoration-color: #ffe9b366;
                letter-spacing: 1.5px;
                text-underline-offset: 3px;
                transition: 0.5s;
            }

            a:hover {
                text-decoration-color: #ffe9b0;
            }
        }
    }
}

.card:hover {
    box-shadow: #d4af371a 0 0 30px 0;
    border-color: #d4af3766;
}


#scroll-wrapper.list {
    width: 80%;
    margin: 0 auto;

    #artifacts-container {
        height: 1100px;
        width: auto;

        .card {
            width: 100%;
            height: 250px;
            flex-direction: row;

            .artifact-material {
                margin-left: 0;
                left: 272px;
            }

            .text-container {
                flex-direction: row;
                margin-top: 20px;

                h2 {
                    font-size: 32px;
                }

                .artifacte-subtitle {
                    display: flex;
                    gap: 25px;
                }

                p {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 16px;
                    margin-bottom: 16px;

                    svg {
                        display: block;
                        width: 18px;
                        height: 18px;
                        fill: #d0c5af;
                    }
                }

                .card-footer {
                    flex-direction: column;
                    border: none;
                    padding-top: 0;
                    margin-top: 0;

                    div {
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                    }
                }

                a {
                    background-color: #d4af37;
                    text-decoration: none;
                    color: #554300;
                    padding: 12px 24px;
                    border-radius: 10px;
                }

                a:hover {
                    background-color: #f2ca50;
                }
            }

            img {
                width: 250px;
            }
        }
    }
}

#scroll-wrapper.empty {
    height: fit-content;

    #artifacts-container {
        height: fit-content;

        >p {
            display: block !important;
        }
    }
}

.hide {
    display: none !important;
}

#scrolling {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 10px;
    font-size: 25px;
    color: #f2ca50;
    user-select: none;
    margin: 50px auto;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f2ca5033;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        font-size: 16px;
        font-family: 'Playfair Display';
        font-variant-numeric: lining-nums;
        cursor: pointer;
        transition: 0.5s;

        svg {
            width: 24px;
            height: 24px;
            fill: #f2ca50;
        }
    }

    div:hover {
        background-color: #f2ca501a;
    }

    div.active {
        background-color: #f2ca50;
        color: #3c2f00;
    }

    div.hide, p.hide {
        display: none;
    }
}