body {
    background-color: #0d0f0c;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#form {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 80%;
    height: fit-content;
    margin: 50px 0;
    background-color: #0d0f0c;
    background-image: url(../assets/images/dark-matter.png);
    border: 1px solid #f2ca5033;
    border-radius: 12px;

    #glow {
        position: absolute;
        top: 25%;
        left: 15%;
        transform: translate(-50%, -50%);
        width: 320px;
        height: 320px;
        background: radial-gradient(circle, #f2ca5026 0%, #f2ca5000 70%);
        filter: blur(100px);
        pointer-events: none;

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 64px;
        width: 50%;
        transition: 1s;

        .top {
            h2 {
                color: #e3e3de;
                font-family: 'Playfair Display';
                font-size: 48px;
                font-weight: 400;
                text-transform: uppercase;
            }

            p {
                font-family: 'Montserrat';
                color: #d0c5af99;
                font-weight: 400;
                margin-top: 20px;
            }
        }

        label {
            color: #f2ca5099;
            font-family: 'Montserrat';
            font-size: 10px;
            letter-spacing: 2px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        input {
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid #99907c33;
            background-color: transparent;
            color: #e3e3de;
            outline: none;
            font-family: 'Playfair Display';
            font-size: 16px;
            padding: 12px 0;
            transition: 0.7s;
        }

        select {
            border: none;
            border-bottom: 1px solid #99907c33;
            background-color: transparent;
            font-family: 'Playfair Display';
            color: #e3e3de;
            outline: none;
            padding: 12px 0;
            font-size: 16px;
        }

        select option {
            background-color: #161615;
            color: #e3e3de;
            font-family: 'Playfair Display';
            padding: 15px;
            font-size: 16px;
            border: none;
        }

        input:focus {
            border-color: #f2ca50;
        }

        .pass, .info {
            display: flex;
            gap: 30px;

            >div {
                flex: 1;
            }
        }

        button {
            border: none;
            cursor: pointer;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 100%;
            color: #3c2f00;
            letter-spacing: 4px;
            text-shadow: 0 0 10px #0000001a;
            width: 100%;
            border-radius: 50px;
            background-color: #f2ca50;
            padding: 20px 0;
            box-shadow: 0 10px 30px #d4af3740;
        }

        >p {
            text-align: center;
            color: #d0c5af80;
            font-family: 'Montserrat';
            font-size: 11px;
            word-spacing: 1px;

            a {
                color: rgb(242, 202, 80);
                text-decoration: none;
            }
        }
    }

    #sign-up {
        scale: 1;
    }

    #sign-in {
        scale: 0;
        >h6 {
            position: absolute;
        }

        .pass {
            flex-direction: column;
            gap: 0;

            .pass-wrapper {
                display: flex;
                input {
                    flex: 1;
                }
            }
        }
    }

    >div {
        position: absolute;
        background-image: linear-gradient(135deg, #d4af37 0%, #b8860b 50%, #996515 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        padding: 80px;
        left: 50%;
        text-align: center;
        color: #554300;
        overflow: hidden;
        transition: 0.7s;

        section {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            left: 0;
            transition: 1s;

            p {
                font-family: 'Playfair Display';
                font-size: 42px;
                font-weight: 700;
            }

            h2 {
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 500;
            }

            h3 {
                font-family: 'Montserrat';
                font-size: 13px;
            }

            button {
                border: 2px solid rgba(85, 67, 0, 0.3);
                text-transform: uppercase;
                background-color: transparent;
                text-decoration: none;
                cursor: pointer;
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 100%;
                color: #554300;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 50px;
                padding: 20px 55px;
                letter-spacing: 2px;
                transition: 0.7s;
            }

            button:hover {
                transform: scale(1.05);
                background-color: #554300;
                color: #d4af37;
                box-shadow: 0 15px 40px #00000033
            }
        }

        #sec2 {
            position: absolute;
            padding: 0 80px;
            left: 150%;
        }
    }


    #info {
        width: 100%;
        display: flex;
    }
}

#form.up {
    >div {
        left: 0;

        #sec1 {
            left: -150%;
        }

        #sec2 {
            left: 0;
        }
    }

    #sign-up {
        scale: 0;
    }

    #sign-in {
        scale: 1;
    }
}